<style type="text/css">
 
 
  /*General Styling*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*{ font-family:'Open Sans', sans-serif;font-size: 18px;}
body { margin: 0; padding:0; background: #f1f1f1;}

#SiteWrapper { padding: 2.5em 8em; margin: 1em; background: #fff; border: 2px solid #a5a5a5;}
#SearchContainer { padding: 1em 0;}
#SearchInput {}

/*Form Design*/
.group{ 
    position:relative;
    margin-bottom:55px;
}
input {
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc;
}
input:focus {
    outline:none;
}
/* Label Design */
 label {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
/* Active state */
 input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:14px;
    color:#22A7F0;
}
/* Underlining Bars */
 .bar {
    position:relative;
    display:block;
    width:100%;
}
.bar:before, .bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#22A7F0;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}
/* active state */
 input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}
/* Highlighter */
 .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}
/* active state */
 input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/** Animations **/
 @-webkit-keyframes inputHighlighter {
    from {
        background:#5264AE;
    }
    to {
        width:0;
        background:transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background:#5264AE;
    }
    to {
        width:0;
        background:transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background:#5264AE;
    }
    to {
        width:0;
        background:transparent;
    }
}
#Send{ 
    width: 100%; padding: 1em 0; cursor: pointer; border: 0; color: #fff; background: #22A7F0;
    -webkit-transition: all .5s;-moz-transition: all .5s;transition: all .5s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#Send:hover{ 
    background: #62c0f4;
    overflow: hidden;
}
  
</style>
  
   
       
       <div class="row">
        <div class="col-md-12"><h1 style="text-align: center;color: #fff;font-size: 36px; ">You are Logged in!</h1></div>
      </div>
      <div class="row">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-6">
        <div id="SiteWrapper">
            <div id="SearchContainer">
                <form>
                     <h3 style="text-align: center;">You are logged in!</h3>
                     <h6 style="text-align: center;">Email:example@mail.com</h6>
                     <h6 style="text-align: center;">Rank:Administrator</h6>
                    <button type="submit" id="Send">Logout</button>
                </form>
            </div>
        </div>
      </div>
      <div class="col-md-3">&nbsp;
      </div>

      </div>

    